In [2]:
import pandas as pd
test = pd.DataFrame(dict(country=["sweden", "sweden", "sweden", "iceland", "iceland", "iceland", "norway", "norway", "norway"], positivity_rate=[3, 4, 5, 6, 7, 8, 9, 10, 11], new_cases=[5, 3, 5, 6, 3, 4, 5, 6, 1], population=[176, 176, 176, 245, 245, 245, 567, 567, 567]))
test

   country  positivity_rate  new_cases  population
0   sweden                3          5         176
1   sweden                4          3         176
2   sweden                5          5         176
3  iceland                6          6         245
4  iceland                7          3         245
5  iceland                8          4         245
6   norway                9          5         567
7   norway               10          6         567
8   norway               11          1         567

In [3]:
test["cases_as_percentage_of_population"] = test["new_cases"]/test["population"]
test

,country,positivity_rate,new_cases,population,cases_as_percentage_of_population
0,sweden,3,5,176,0.028409
1,sweden,4,3,176,0.017045
2,sweden,5,5,176,0.028409
3,iceland,6,6,245,0.024490
4,iceland,7,3,245,0.012245
5,iceland,8,4,245,0.016327
6,norway,9,5,567,0.008818
7,norway,10,6,567,0.010582
8,norway,11,1,567,0.001764

In [4]:
test2 = pd.DataFrame(test["positivity_rate"].groupby(test["country"]).mean())
test2["total_cases_in_percent"] = test["cases_as_percentage_of_population"].groupby(test["country"]).sum()*100
test2.reset_index()

   country  positivity_rate  total_cases_in_percent
0  iceland              7.0                5.306122
1   norway             10.0                2.116402
2   sweden              4.0                7.386364